*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.doctor-detail{
     width: 100%;
     height: 700px;
     margin-top: 150px;
     background-color: #178066;
}
.doctor-heading{
      width: 80%;
      margin: 0 auto;
      padding-top: 50px;

}
.doctor-h1{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    padding-top: 50px;
}
.doc-h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc-para{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}