* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop {
    width: 100%;
    height: 100%;
}
.shop-navbar{
    position: sticky;
    top: 0;

}

.shop-nav {
    display: flex;
    background-color: #55b5a5;
    color: white;
   
}

.logo {
    width: 30%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.logo sub {
    font-family: 'Nunito', sans-serif;
    /* font-size: px; */
}

.shop-banner {
    background-image: url(../../images/medicine2.png);
    height: 400px;
    width: 100%;
    background-size: cover;
    /* Adjust the background image size */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    border: 2px solid white;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.shop-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0 20px;

   
}

 .shop-item1 {
    flex-basis: calc(30% - 20px); /* Adjust width for three items per row with some padding */
    margin-bottom: 20px; /* Add some space between rows */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
} 
.all-products{
    margin-top:30px ;
    display: flex;
    justify-content: center;
    font-size: 30px;
}


 .item-box {
    flex-basis: calc(30% - 20px); /* Adjust width for three items per row with some padding */
    margin-bottom: 20px; /* Add some space between rows */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #D3D3D3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: #c8cccd; */
    outline: none;
    cursor: pointer;
}

.item-box img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 5px;
    
}
.item-box .name {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Item price */
.item-box .price {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}
.item-box button{
    border: 2px solid #32AD92;
    background-color: #32AD92;
    color: black;
    font-size: 16px;
    padding: 10px 20px ;
    transition: all 0.3s ease;
}
@media (max-width: 768px) {
    .shop-item1 {
        flex-basis: calc(50% - 20px); /* Two items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .shop-item1 {
        flex-basis: 100%; /* Single item per row on extra small screens */
    }
}
